.stack-work/
*~
*.bin
*.aux
*.synctex
*.fdb_latexmk
*.synctex.gz
*.fls
*.log
*.blg
*.bbl
*.out
*.dvi
*.xdv
*-converted-to.*
*.png
*.jpg
*.jpeg
*.pdf
!document/informe/informe.pdf
*.txt
*.toc
!document/*.txt
*.dot
*.svg